{
	"tabWidth": 2,
	"useTabs": true,
	"overrides": [
		{
			"files": ["*.json"],
			"options": {
				"useTabs": false
			}
		},
		{
			"files": ["*.md"],
			"options": {
				"useTabs": false
			}
		}
	]
}
